<title>{{title}}</title>

<div>

    <a href="/">Home</a>
    <a href="/facts">Facts</a>
    <a href="/about">About</a>
    <a href="/help.html">help</a>
    <a href="/apod">Astronomy Picture of the Day</a>
</div>