body{
    font-size: 20px;
    color: white;
    background-color: black;
}

ul {
    background-color: blue;
    
}

.title{
    font-size: 18px;
    font-weight: 900;
}

.text{
    font-size: 14px;
    font-weight: 300;
}